<!doctype html>
<html>
<head>
  <title>My first and awesome Sinatra app</title>
</head>

<body>
  <h1>About me</h1>

  <p>I use Sinatra apps to impress potential employers.</p>
  <%= 5 + 5 %>
  <%= "hello".upcase %>
</body>
</html>
